#*
!.gitignore

!cycle_lengths.ipynb
SJRHB012_S/*
!SJRHB012_S/run-cv.sh
SJRHB012_D/*
!SJRHB012_D/run-cv.sh
SJHGG052_A/*
!SJHGG052_A/run-cv.sh
BS_M4E4H6NG/*
!BS_M4E4H6NG/run-cv.sh
SJRHB031519_D1/*
!SJRHB031519_D1/run-cv.sh
9EP42/*
!9EP42/run-cv.sh
E-1336-21/*
!E-1336-21/run-cv.sh